{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ваш профіль</title>
  <link rel="stylesheet" href="{% static 'main/css/acount.css' %}">
</head>
<body>
<h1>Ваш профіль</h1>
<p>Вітаємо вас {{ user.username }}</p>

<h2>Ваші замовлення</h2>

{% if bookings %}
<div class="table">
  <table style="border: 1px solid black;">
    <thead>
    <tr>
      <th>Готель</th>
      <th>Тип номеру</th>
      <th>Ціна за ніч</th>
      <th>Дата заїзду</th>
      <th>Дата виїзду</th>
      <th>Загальна ціна</th>
      <th>Відмінити замовлення</th>
    </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking.room.hotel.name }}</td>
      <td>{{ booking.room.room_type.name }}</td>
      <td>{{ booking.room.price_per_night }} грн</td>
      <td>{{ booking.start_date }}</td>
      <td>{{ booking.end_date }}</td>
      <td></td>
      <td><button class="btn" id="btn-сancel">ВІДМІНИТИ</button></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>У вас немає замовлень.</p>
{% endif %}
<div class="form">
  <a href="{% url 'home' %}" class="btn1">На головну</a>
</div>

</body>
</html>
