{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Ваш профіль</title>
  <link rel="stylesheet" href="{% static 'main/css/acount.css' %}">
</head>
<body>

<h1>Ваш профіль</h1>
<p>Ім'я користувача: {{ user.username }}</p>

<h2>Ваші замовлення</h2>

{% if bookings %}
<table style="border: 1px solid black;">
  <thead>
  <tr>
    <th>Готель</th>
    <th>Тип номеру</th>
    <th>Ціна за ніч</th>
    <th>Дата заїзду</th>
    <th>Дата виїзду</th>
  </tr>
  </thead>
  <tbody>
  {% for booking in bookings %}
  <tr>
    <td>{{ booking.room.hotel.name }}</td>
    <td>{{ booking.room.room_type.name }}</td>
    <td>{{ booking.room.price_per_night }} грн</td>
    <td>{{ booking.start_date }}</td>
    <td>{{ booking.end_date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>У вас немає замовлень.</p>
{% endif %}
</body>
</html>
