{% extends 'main/index.html' %}

{% block title %}Hotels{% endblock %}

{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}
{%block div%}
{%endblock%}


{% block content %}
<div class="hotels-list">
    {% for hotel in hotels %}
            <a href="{% url 'din' hotel.id %}">
                <div class="hotel-card btn">
                    {% if hotel.image %}
                    <div class="hotel-image-container">
                        <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="hotel-image">
                    </div>
                    {% endif %}
                    <h2>{{ hotel.name|safe }}</h2>
                    <p><i class="bi bi-star" style="color: gold; font-size: 1.5rem;"></i>{{ hotel.rating }}</p>
                    <p>{{ hotel.description|safe }}</p>
                </div>
            </a>
    {% endfor %}
    {% block footer %}
    {% endblock %}
</div>

{% endblock %}
