<!doctype html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Reservation{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/favicon.png' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}?v=2">
    {% endblock %}
</head>
<body>
<div class="center-container">
    <aside>
        <ul>
            <li><a href="{% url 'home' %}" class="btn">{% trans "Головна" %}</a></li>
            <li><a href="{% url 'hotels' %}" class="btn">{% trans "Hotels" %}</a></li>
            <li><a href="{% url 'restourants' %}" class="btn">{% trans "Restaurants" %}</a></li>
            <li><a href="{% url 'account' %}" class="btn">{% trans "Profile" %}</a></li>
            <li>
                <form action="{% url 'set_language' %}" method="post" id="language-form" class="form">
                    {% csrf_token %}
                    <select name="language" onchange="document.getElementById('language-form').submit();" class="select-language">
                        <option value="uk" {% if LANGUAGE_CODE == "uk" %}selected{% endif %}>🇺🇦 UA</option>
                        <option value="en" {% if LANGUAGE_CODE == "en" %}selected{% endif %}>🇬🇧 GB</option>
                        <option value="de" {% if LANGUAGE_CODE == "de" %}selected{% endif %}>🇩🇪 DE</option>
                    </select>
                </form>
            </li>
            <li><a href="{% url 'login' %}" class="btn bi bi-box-arrow-in-right login"> Увійти</a></li>
        </ul>
    </aside>
    <div class="content-overlay">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

{% block div %}
<div class="img-container">
    <div class="slider">
        <img src="{% static 'main/img/photo_2025-06-28_18-51-46.jpg' %}" alt="image" class="slider-img active">
        <div class="over actives">{% trans "Book the perfect place for rest or dinner with us" %}</div>
        <img src="{% static 'main/img/photo_2025-06-28_18-06-24.jpg' %}" alt="image" class="slider-img">
        <div class="over">Тут Буде якийсь текст, но мені зараз впадлу його придумувати</div>
        <!--Ці картинки що знизу коментаря це картинки перемикання слайда, треба буде їх змінити на кнопки-->
        <img src="{% static 'main/img/left.png' %}" class="prev controls">
        <img src="{% static 'main/img/right.png' %}" class="next controls">
    </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="footer-container">
        <div class="copyright">
            <p>&copy; 2025 Reservation-system.</p>
        </div>
        <div class="contact">
            <p>Номер телефону: +3800000000000</p>
            <p>Почта адміністрації: <a href="" target="_blank">reservation@gmail.com</a></p>
        </div>
        <div class="socials">
            <a href="" class="socials-items">
                <img class="img" src="{% static 'main/img/Instagram.svg' %}" alt="">
            </a>
            <a href="" class="socials-items">
                <img class="img" src="{% static 'main/img/Twitter.svg' %}" alt="">
            </a>
        </div>
    </div>
</footer>
{% endblock %}
<script src="{% static 'main/js/slider.js' %}"></script>
</body>
</html>

