<!doctype html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Reservation{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/favicon.png' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}?v=2">
    {% endblock %}
</head>
<body class="page-wrapper">
    <aside class="aside">
        <nav class="nav">
            <ul class="nav__list">
                    <li class="link"><a href="{% url 'home' %}" class="btn">{% trans "Головна" %}</a></li>
                    <li class="link"><a href="{% url 'hotels' %}" class="btn">{% trans "Hotels" %}</a></li>
<!--                    <li class="link"><a href="{% url 'restourants' %}" class="btn">{% trans "Restaurants" %}</a></li>-->
                    <li class="link"><a href="{% url 'account' %}" class="btn">{% trans "Profile" %}</a></li>
                <li class="select-language-li">
                    <form action="{% url 'set_language' %}" method="post" id="language-form" class="form">
                        {% csrf_token %}
                        <select name="language" onchange="document.getElementById('language-form').submit();" class="select-language">
                            <option value="uk" {% if LANGUAGE_CODE == "uk" %}selected{% endif %}>🇺🇦 UA</option>
                            <option value="en" {% if LANGUAGE_CODE == "en" %}selected{% endif %}>🇬🇧 GB</option>
                            <option value="de" {% if LANGUAGE_CODE == "de" %}selected{% endif %}>🇩🇪 DE</option>
                        </select>
                    </form>
                </li>
                {% if user.is_authenticated%}
                <li class="login"><a href="{% url 'logout' %}" class="btn bi bi-box-arrow-in-right login"> {% trans "Вийти" %}</a></li>
                {% else %}
                <li class="login"><a href="{% url 'login' %}" class="btn bi bi-box-arrow-in-right login"> {% trans "Увійти" %}</a></li>
                {% endif%}
            </ul>

        </nav>

        {% block div %}
                <div class="aside-slider">
                    <img src="{% static 'main/img/photo_2025-06-28_18-51-46.jpg' %}" alt="image" class="slider-img active">
                    <div class="over actives">{% trans "Book the perfect place for rest or dinner with us" %}</div>
                    <img src="{% static 'main/img/photo_2025-06-28_18-06-24.jpg' %}" alt="image" class="slider-img">
                    <!--Ці картинки що знизу коментаря це картинки перемикання слайда, треба буде їх змінити на кнопки-->
                </div>
        {% endblock %}
        {% block a%}
        <div class="header-btn-container">
            <a href="#main-content" class="btn-main"><img src="{% static 'main/img/Drop-down-arrow-icon-rounded.png' %}" alt="Drop-down-btn" class="drop-down"></a>
        </div>
        {% endblock %}
    </aside>
    <div class="content-overlay">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
{% block main %}
<main class="main-content" id="main-content">
    <h1>✨{% trans "Вітаємо у вашому ідеальному місці для відпочинку!" %}</h1>

    <p>{% trans "Плануєш подорож і хочеш знайти ідеальний готель? Тут ти можеш зробити це швидко, просто і без зайвого гемору. Ми зібрали найкращі варіанти проживання — від бюджетних кімнат до розкішних апартаментів — щоб кожен міг вибрати саме те, що потрібно." %}</p>

    <h2>🏨{% trans "Зручний пошук готелів" %}</h2>
    <p>{% trans "Обирай за містом, ціною, зручностями чи датами. У нас усе інтуїтивно — ввів параметри, натиснув кнопку, і система покаже тільки актуальні вільні номери." %}</p>

    <h2>🔒{% trans "Просте та безпечне бронювання" %}</h2>
    <p>{% trans "Ніяких довгих форм і дзвінків — усе онлайн. Переглянув деталі, вибрав номер, натиснув “Забронювати” — і готово. Твоє бронювання миттєво підтверджується." %}</p>

    <h2>💼{% trans "Для роботи чи відпочинку" %}</h2>
    <p>{% trans "Плануєш відрядження? Хочеш романтичний вікенд? А може, шукаєш місце, де можна розслабитись біля моря? Тут є все — просто обирай, що тобі потрібно." %}</p>

    <h2>⭐️{% trans "Чому саме ми?" %}</h2>
    <ul>
        <li>{% trans "Великий вибір готелів" %}</li>
        <li>{% trans "Актуальні ціни та доступність" %}</li>
        <li>{% trans "Зручне онлайн-бронювання" %}</li>
        <li>{% trans "Підтримка, яка не зникає" %}</li>
    </ul>
</main>


{% endblock %}


{% block footer %}
    <footer class="footer mt-5 text-center text-white-50">
        <div class="footer-container">
            <p>&copy; 2025 Reservation-system.</p>
            <p>{% trans "Номер телефону" %}: +3800000000000</p>
            <p>{% trans "Пошта адміністрації" %}: <a href="mailto:reservation@gmail.com" class="text-decoration-none text-info">reservation@gmail.com</a></p>
        </div>
    </footer>
{% endblock %}
<script src="{% static 'main/js/slider.js' %}"></script>
</body>
</html>

