*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    color:  #cfa078;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #660e60, #893f71, #ac6f82, #cfa099);

}

h1, p  {
    text-align: center;
    font-size: 50px;

}

h2 {
    text-align: center;
    font-size: 35px;
    margin: 20px;
}

ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

li {
    display: inline;
    margin-bottom: 20px;
    max-width: 600px;
}


