*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color:  #cfa078;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #660e60, #893f71, #ac6f82, #cfa099);

}

h1, p  {
    text-align: center;
    font-size: 50px;

}

h2 {
    text-align: center;
    font-size: 35px;
    margin: 20px;
}


