body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    color: #64406E;
}

.background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1{
    font-size: 4rem;
    padding: 10px;
}

.center-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.booking-form {
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.booking-form p {
    margin-bottom: 15px;
}

.booking-form button {
    background: #64406E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    width: 400px;
    /*box-shadow: 1px 2px 4px rgba(1, 1, 1, 0.5);*/
    margin-top: 10px;
}

.booking-form button:hover {
    background: darkseagreen;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    transform: translateY(-3px);
    text-shadow:
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff
}

select {
    width: 450px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background: whitesmoke;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    transition: 0.3s ease-in-out;
}
select:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input {
    width: 450px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    background: whitesmoke;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    transition: 0.3s ease-in-out;
}

input:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}





/*footer*/
/*.footer{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 80px;*/
/*    background: #0B0D17;*/
/*    color : #D9D8E1;*/
/*}*/

/*.footer-container{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin: 0 auto ;*/
/*    width: 1500px;*/
/*    height: 60px;*/
/*}*/
/*.footer-copyright{*/
/*    font-size: 14px;*/
/*}*/
/*.socials{*/
/*    display: flex;*/
/*}*/

/*.socials-item{*/
/*    margin-left: 16px;*/
/*}*/


/*.img{*/
/*    padding: 5px;*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*.img:hover{*/
/*    opacity: 0.5;*/
/*    background: lightgray;*/
/*}*/

/*.contact{*/
/*    display: block;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/
/*footer .footer-container .contact p {*/
/*    display: block;*/
/*    margin: 10px 0;*/
/*}*/
/*kjsbefkhbahejfb*/