body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: "Fira Sans", sans-serif;
    /*background: linear-gradient(135deg, #0a1a2b 0%, #1d3557 45%, #c9a86a 100%);*/
    background: linear-gradient(135deg, #2a374e 0%, #4a5a73 35%, #dcd1b8 70%, #f8c88a 100%);
    /*background: #660e60;*/
    /*background: linear-gradient(135deg, #660e60, #893f71, #ac6f82, #cfa099);*/
    color: #f3d0a4;
}


.center-container {
    position: relative;
    box-shadow: 0 0 6px black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav  {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.3);
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
aside {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    text-decoration: none;
    list-style: none;
}

/* Стилі для кнопок */
.btn {
    font-size: 18px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    color: white;
    text-shadow: 0 0 4px rgba(255, 255, 255), 0 0 6px rgb(216, 125, 0);
    transform: scale(1.1);
}

.hotels-list {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
    margin-top: 80px; /* Відступ для уникнення перекриття кнопками */
}

.hotel-card {
    background: transparent;
    width: 800px;
    height: 500px;
    color: #660e60;
    border-radius: 20px;
    overflow: hidden;
    max-width: 350px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    text-align: center;
    margin: auto;
}

.hotel-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    background: #cfa093;
    color: black;
    text-decoration: none;
    text-shadow: none;
}

.hotel-card img {
    width: 250px;
    border-radius: 50px;
    height: auto;
    border-bottom: 2px solid #660e60;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.hotel-card:hover img {
    opacity: 1;
}

.hotel-card h2 {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: bold;
}

.hotel-card p {
    font-size: 1rem;
    margin: 10px 0;
}

.hotel-card .btn-danger {
    background: #660e60;
    color: #f3d0a4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.hotel-card .btn-danger:hover {
    background: #893f71;
}
.booking-form {
    margin-left: 500px;
    margin-top: -500px;
    position: absolute;
    background: linear-gradient(135deg, #660e60, #893f71, #ac6f82, #cfa093);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}
/*kuaefkbskebksef*/
.booking-form p {
    margin-bottom: 15px;
}

.booking-form button {
    background: #cfa093;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.booking-form button:hover {
    background: linear-gradient(135deg, #660e60, #893f71, #ac6f82, #cfa093);

}
.reservation-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}.reservation-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.reservation-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-label {
    font-weight: bold;
}

/*Стилі для картинок*/


.over{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1200px;
    height: 860px;
    font-size: 60px;
    flex-direction: column;
    color: #fff;
    padding: 80px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.select-language {
    appearance: none;
    justify-content: center;
    align-items: center;
    background:  url("data:image/svg+xml;charset=UTF-8,<svg fill='%23ffffff' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    text-align: center;
}
/*.select-language:hover{*/
/*    color: #660e60;*/
/*    box-shadow: 0 0 20px rgba(243, 208, 164, 0.8);*/
/*}*/

.select-language option{
    border-radius: 40px;
    cursor: pointer;
}
/*footer*/
.footer{
    display: flex;
    align-items: center;

    height: 80px;
    background: #0B0D17;
    color : #D9D8E1;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
    width: 1500px;
    height: 60px;
}
.footer-copyright{
    font-size: 14px;
}
.socials{
    display: flex;
}

.socials-item{
    margin-left: 16px;
}


.img{
    padding: 5px;
    width: 100%;
    height: auto;
}

.img:hover{
    opacity: 0.5;
    background: lightgray;
}

.contact{
    display: block;
    justify-content: center;
    align-items: center;

}
footer .footer-container .contact p {
    display: block;
    margin: 10px 0;
}
